.conti1{
    border: 1px solid #000000;
    width: 100%;
    max-width: 1200px;
    background: #fff;
    margin: 5px;
    font-size: 20px;

    display: flex;
    flex-flow: row nowrap;

}
nav a{
    border: 10px solid #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #323232;
    text-decoration: none;

    flex-grow: 1;
    text-align: center;

}
.contenedor{
    border: 5px solid #caccd1;
    width: 90%;
    max-width: 1200px;
    background: #88898a;
    margin: 2px auto;
    padding: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 10px;
    color: rgb(32, 32, 32);

    display: flex;
    flex-flow: column nowrap;
}
.contenedorE{
    border: 5px solid #caccd1;
    width: 95%;
    max-width: 1200px;
    background: #88898a;
    margin: 2px auto;
    padding: 5px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    color: rgb(32, 32, 32);

    display: flex;
    flex-flow: column nowrap;
}
